<!DOCTYPE html>
<html>
<head>
    <title>some thoughts</title>
    <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header_logo">
        <a href="/">
            <div class="logo">
                intrusive thoughts
            </div>
        </a>
        <div class="info-container">
            <a href="https://github.com/CoolichWithYou">
                github
            </a>
            <a href="https://www.linkedin.com/in/dmitry-andreev-94150521b/">
                linkedIn
            </a>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
