{% extends "base.html" %}
{% block content %}
<div class="category_container">
    <div>
    {% for crumb in breadcrumbs %}
    {% if loop.last %}
    {{ crumb.name }}
    {% else %}
    <a href="/category/{{ crumb.id }}">{{ crumb.name }} -> </a>
    {% endif %}
    {% endfor %}
</div>
</p>


<div class="article-content">
    {{ category.content|safe }}
</div>
</div>

<!--<form method="post" action="/category/{{ category.id }}/update">-->
<!--    <input name="name" value="{{ category.name }}" maxlength="50" required>-->
<!--    <button type="submit">Сохранить</button>-->
<!--</form>-->

<!--<form method="post" action="/category/{{ category.id }}/delete">-->
<!--    <button type="submit">Удалить</button>-->
<!--</form>-->
{% endblock %}
