{% extends "base.html" %}
{% block content %}
<p>Вы находитесь:
        <div>
    {% for crumb in breadcrumbs %}
            {% if loop.last %}
                {{ crumb.name }}
            {% else %}
    <a href="/category/{{ crumb.id }}">{{ crumb.name }} -> </a>

            {% endif %}
        {% endfor %}
</div>
</p>

<h2>{{ category.name }}</h2>

<form method="post" action="/category/{{ category.id }}/update">
    <input name="name" value="{{ category.name }}" maxlength="50" required>
    <button type="submit">Сохранить</button>
</form>

<form method="post" action="/category/{{ category.id }}/delete">
    <button type="submit">Удалить</button>
</form>
{% endblock %}
